$primary-color:#264065;
$secondary-color:#A9D6CB;

$text-color-gray:#909090;
$text-color-white:#FFFFFF;
$text-color-black:#000000;

$font-size-small:12px;
$font-size-medium:16px;
$font-size-large:20px;
$font-size-xlarge:24px;
$font-size-xxlarge:28px;
$font-size-xxxlarge:32px;

$font-weight-light:300;
$font-weight-normal:400;
$font-weight-medium:500;
$font-weight-bold:700;
$font-weight-black:900;
